.container
  section#typeahead
    .page-header
      h1
        | Modal for Backbone
        small(style="margin:1%;") backbone-modal.js
    .row
      h2 Live demo
      .col-md-12(style="margin-bottom: 4%; border: solid 1px rgb(219, 219, 219); padding:3%;")
        button.btn.btn-primary(data-action='openModal') Click to open Modal
      .col-md-3
        h3 Author
        p Marco Antonio Pajares
        a(href="http://ayxos.com/backbone-modal/") http://ayxos.com/
        br
        a(href="https://github.com/cybermarkus1/backbone-modal") github code

        h3 About
        p Create a custom backbone-wizard.
        ul
          li must be used as a requireJS component.
          li need bootstrap as dep.
        p
          a.btn.btn-primary(href='public/js/common/backbone-wizard.js', target='_blank') backbone-modal.js
        p
          a.btn.btn-primary(href='public/backbone-wizard.min.js', target='_blank') backbone-modal.min.js

        h3 Change log
        dl
          dt v@1.0.0
          dt 27/08/2014
          dd first release.

      .col-md-9

        hr
        h2 Really simple, just name it and set a save action
        pre.prettyprint.linenums.
          ...
          
          var Backbone_modal = require('path/to/backbone/modal/component');
          var AnotherView = require('path/to/another/view')

          ...

          new Backbone_modal(AnotherView);

          ...

        hr
        h2 RequireJs Config file

        pre.prettyprint.linenums.
          
          ...

          shim: {
              'path/to/backbone-modal/lib':{
                deps:['underscore', 'bootstrap' , 'backbone']
              }
          }

          ...

        hr
        h2 Get backbone-modal.js
        p Get the backbone-modal via bower:
        pre.prettyprint.linenums.
          bower install backbone-simple-modal

        h3 License
        h4 MIT LICENSE
        p The MIT License (MIT)
        pre.prettyprint.linenums.
         Copyright (c) 2014 marco

         Permission is hereby granted, free of charge, to any person obtaining a copy
         of this software and associated documentation files (the "Software"), to deal
         in the Software without restriction, including without limitation the rights
         to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
         copies of the Software, and to permit persons to whom the Software is
         furnished to do so, subject to the following conditions:

         The above copyright notice and this permission notice shall be included in all
         copies or substantial portions of the Software.

         THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
         IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
         FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
         AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
         LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
         OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
         SOFTWARE.
